@using FIT5032_Assignment_Portfolio.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="register-photo">
    <div class="form-container">
        <div class="user-image-holder"></div>
        <div class="inner-form-container">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal inner-form-container-child", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h2 class="text-center"><strong>MedConnect</strong> Login</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <hr />
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @name = "email", @placeholder = "Email" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @name = "password", @placeholder = "Password" } })
                </div>
                <label class="form-check-label">Log In As:</label>
                <div class="form-group">

                    @Html.DropDownListFor(model => model.Type,
                      new SelectList(
                          Enum.GetValues(typeof(UserType))
                      ),
                      new { @class = "form-control form-select-lg mb-3", @aria_label = "form-select-lg example" }
                      )
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div>
                @Html.ActionLink("Do Not Have An Account? Login here.", "Register", "Account", new { @class = "already" })
            }
            <div class="form-group inner-form-container-child" id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}